a {
  color: #163260;
}
.bg-dark {
	background: #163260 !important;
}
.menu-item {
	background: #1444A2;
	color:#fff;
}
.menu-item:hover, .menu-item-active, .menu-item-active:hover {
	background:#f8f9fa;
}
.with-search, .select2-container--default .select2-selection--single {
	display: block;
    font-size: 1rem;
    padding: .175rem .1rem;
    line-height: 38px;
    height:38px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top:7px;
}
