.bootstrap-tagsinput {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #46799b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.bootstrap-tagsinput .tag {
    color: #3E6D8E;
    background-color: #e0eaf1;
    padding: 0px 8px;
    border-radius: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    display: inline-block;
    padding-right: 0;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    background: #5bc0de;
    padding: 0 5px; 
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-transform: uppercase; 
}